<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  
  <app-header [hidden] = "hideElement"></app-header>
  <app-settings [hidden] = "hideElement"></app-settings>
  <div class="app-main">
    <app-sidemenu [hidden] = "hideElement"></app-sidemenu>
    <div class="app-main__outer">
      <div class="app-main__inner">
        <app-title></app-title>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<modal-zombies></modal-zombies>
<modal-cerebros></modal-cerebros>