<div class="card-body"><h5 class="card-title">Cerebros</h5>
    <table class="mb-0 table table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th>Sabor</th>
            <th>Iq</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cerebro of cerebros | async; let i = index">
            <th scope="row"> {{ i+1 }} </th>
            <td>{{ cerebro.flavor }}</td>
            <td>{{ cerebro.iq }}</td>
            <td>{{ cerebro.description }}</td>
            <td>{{ cerebro.picture }}</td>
            <td>
                <button (click)="guardarDatos(cerebro._id,cerebro.flavor,cerebro.iq,cerebro.description,cerebro.picture)" type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#modalActualizarCerebro">Editar Cerebro <i class="fas fa-edit" title="Editar"></i></button>
                <button (click)="guardarID(cerebro._id)" type="button" class="btn mr-2 mb-2 btn-danger" data-toggle="modal" data-target="#modalEliminarCerebro">Eliminar Cerebro <i class="fas fa-trash" title="Editar"></i></button>
            </td> 
        </tr>
        </tbody>
    </table>
    <br>
    <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#modalCerebro">Agregar Cerebro</button>
</div>